/*dark blue: #231161*/
/*light blue: #0071ce*/
/*orange: #ff671b*/

body {
    padding-top: 120px;
    /*background: rgb(245,245,245);*/
    font-family: "Oxygen", sans-serif;
}

a {
    color: #ff671b;
}

h1 {
    color: #231161;
}

h1>strong {
    font-weight: inherit;
    color: #ff671b;
}

.kickit-nav {
    position: absolute;
    right: 10%;
    margin-top: 2.2%;
    padding-bottom: 0px;
    font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a {
    color: #231161;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ff671b;
}

.hero {
    font-size: 4em;
    font-size: 4.5vw;
    /*margin-top: 0px;*/
}

.kickit-lead {
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid lightgray 1px;
}

.kickit-logo {
    height: 60px;
}

.navbar-kickit {
    height: 90px;
}

.benefit {
    padding: 0px;
    margin: 20px 30px;
    border-bottom: solid lightgray 8px;
}

.kickit-img-div {
    margin-bottom: 30px;
    text-align: center;
}

.lead>strong{
    color: #0071ce;
}

.kickit-img {
    max-width: 60%;
    height: auto;
}

#kickit-img-tb {
    max-width: 75%;
    height: auto;
    padding-top: 20px;
}

.navbar-kickit-bottom {
    background: #231161;
}

.call-to-action {
    color: white !important;
    margin-left: 0px;
    /*font-weight: bold;*/
}

.btn-kickit {
    margin-top: 12px;
    margin-left: 40px;
    background: #0071ce;
}
